<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>308708023370-v41imvap041db797qsnu2nv4nn4kdsef.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.308708023370-v41imvap041db797qsnu2nv4nn4kdsef</string>
	<key>API_KEY</key>
	<string>AIzaSyDNbCFKkUwipobFfXpD0culTWego9h5Cd0</string>
	<key>GCM_SENDER_ID</key>
	<string>308708023370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tdeets.Caroosal</string>
	<key>PROJECT_ID</key>
	<string>caroosal-ce00b</string>
	<key>STORAGE_BUCKET</key>
	<string>caroosal-ce00b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308708023370:ios:a9a03001e81e8206</string>
	<key>DATABASE_URL</key>
	<string>https://caroosal-ce00b.firebaseio.com</string>
</dict>
</plist>